// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.micolor {
    background-color: $RDprimary;
}
.colorFuente{
    color: $RDprimary;
}
.shadowing{
text-shadow: 2px 2px #000000;
}
.shadowimage {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.glowie {
    filter: drop-shadow(0 0 0.75rem #424242 );
  }
// Bootstrap
@import '~bootstrap/scss/bootstrap';


